{
  "extends": "react-app",
  "rules": {
    "quotes": ["error", "double"],
    "semi": ["error", "never"],
    "no-console": [
      "error",
      {
        "allow": ["log", "warn", "error"]
      }
    ],
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "as-needed"],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prop-types": [0],
    "jsx-a11y/href-no-hash": [0],
    "jsx-a11y/label-has-associated-control": [0],
    "react/jsx-no-bind": [0],
    "import/no-unresolved": "off"
  }
}
