name: Develop Branch Testing
on:
  push:
    branches:
      - develop
jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - name: set up node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: check out code
        uses: actions/checkout@v2
      - name: install
        run: yarn install
      - name: unit tests
        run: yarn test -- --coverage
        env:
          CI: true
      - name: upload test coverage to codecov
        uses: codecov/codecov-action@v1.0.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: build
        run: yarn build
