name: Semantic Release
on:
  push:
    branches:
      - master
jobs:
  semantic-release:
    runs-on: ubuntu-20.04
    steps:
      - name: set up node.js
        uses: actions/setup-node@v3
        with:
          node-version: 14.15.0
      - name: check out code
        uses: actions/checkout@v2
      - name: install deps
        run: yarn install
      - name: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: yarn semantic-release
  merge:
    needs: semantic-release
    runs-on: ubuntu-20.04
    steps:
      - name: merge to develop
        uses: devmasx/merge-branch@1.4.0
        with:
          type: now
          from_branch: master
          target_branch: develop
          github_token: ${{ secrets.GITHUB_TOKEN }}
